.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
    animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .2s both,
                bg-animation 1.5s ease-in-out .65s forwards;
}

#deconnexion , #profile{
    display: none;
}
.error_message {
    padding: 10px;
    margin: 3px;
    color: #C48D7F;
    font-weight: bold;
}

.form-fields input {
    border: 1px solid #4C6D75;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    width: 30%;
    padding: 8px;
}

.form-fields input:focus {
    border: 3px solid #B6C47F;
}

.form-fields label {
    margin: 10px 2px;
    padding: 5px 0;
}

/* Pour la fentre modale */
.modal-window {
    background-color: #fefefe;
    border: 0;
    border-radius: 5px;
    height: fit-content;
    margin: 15% auto;
    width: 50%;
}

.modal-header {
    background-color: #7FB6C4;
    padding: 1.0em;
}

.modal-footer {
    padding: 1.0em;
}

.modal-content {
    padding: 2.0em;
}

/* Le Close Button */
.close {
    color: #e7e7e7;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.header {
    background-color: #7FB6C4;
    display: block;
    overflow: hidden;
}

/* Style the header links */
.header a {
    color: black;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.header a:hover {
    background-color: #72A3B0;
    color: white;
    cursor: pointer;
}


.header a.lien:hover{
    color : #72A3B0;
    text-decoration: underline;
    background-color: rgba(0, 56, 71, 0);
}

.header a.logo {
    font-weight: bold;
    float: left;
    padding: 10px 5px;
    text-align: right;
    text-align: -moz-right;
}

.header a.logo:hover {
    background-color: #72A3B0;
    color: black;
    cursor: pointer;
}

#logoImg{
    float: left;
    margin : auto;
    padding: 0 8px;
    height: 33px;
}



.header-right {
    float: right;
}

#searchBar {
    display: inline;
}

#searchBar input {
    font-size: inherit;
    border: none;
    border-radius: 3px;
    float: none;
    margin: 8px 0 8px 15%;
    padding: 6px;
    width: 25%;
}

.header .icon {
    display: none;
}

.modalButton {
    display: block;
    padding: 10px;
    font-size: 20px;
    background-color: #7FB6C4;
    border: 0;
    color: black;
    float: right;
}

.modalButton:hover {
    cursor: pointer;
    background-color: #72A3B0;
    color: white;
}

.modalButton:disabled {
    background-color: rgba(0, 61, 80, 0.51);
}

@media screen and (max-width: 1500px) {
    .modal-window {
        width: 70%;
    }

    .form-fields input {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .header .searchBar {
        margin: 8px;
        width: auto;
    }

    .header-right a {
        display: none;
    }

    .header-right a.icon {
        display: inline;
        float: right;
    }

    .header-right.responsive {
        position: relative;
    }

    .header-right.responsive a.icon {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .header-right.responsive a {
        display: block;
        float: none;
        text-align: left;
    }

    .modal-window {
        width: 90%;
    }

    .form-fields input {
        width: 90%;
    }

}

@keyframes line-animation {

    0% {
        width: 0;
        opacity: 1;
    }

    99% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes open-animation {
    0% {

        width: 0;
        top: 50%;
        left: 50%;
    }

    100% {
        top: 0;
        width: 100vw;
        left: 0;
    }
}


@keyframes bg-animation {
    0% {
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 249, 246, 0.21);
    }

    100% {
        background-color: rgb(0, 61, 80);
        background-color: rgba(0, 61, 80, 0.31);
    }
}